.about_our_mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 7rem;

    .desc_section {
        h3 {
            font-size: 30px;
        }

        p {
            color: @light-text;
            line-height: 157.4%;
            margin-top: 0;
        }
    }

    .image_section {

        img {
            border-radius: 45px;
            max-width: 100%;
        }
    }
}