.data_counter {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 50px;
    background-color: @light-gray;
    margin-top: 7rem;

    .data_item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .num{
            font-weight: 800;
            font-size: 32px;
            margin: 0;

            span {
                color: @solid-orange;
            }
        }

        .desc {
            text-align: center;
            max-width: 125px;
        }
    }
}

@media screen and (min-width: 576px) {
    .data_counter {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 768px) {
    .data_counter {
        grid-template-columns: auto auto auto auto;
        padding : 3rem;
        .data_item {
            .num {
                font-size: 42px;
            }

            .desc {
                max-width: initial;
            }
        }
    }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
