.drop_down_menu {
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    top: 70px;
    left: 0;
    padding: 2rem;
    background: @white;

    box-shadow: 0px 60px 54px rgba(1, 1, 1, 0.45);
    border-radius: 0 0 10px 10px;

    > div {
        display: grid;
        grid-template-columns: auto;
    }
    .title_section {
        display: none;
        h3 {
            font-weight: 800;
            font-size: 50px;
            line-height: 110%;
        }
        .gl_button {
            padding: 1rem 2rem;
            text-decoration: none;
        }
    }

    .drop_down_items {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 1rem;
        grid-row-gap: 1.5rem;

        .drop_down_item {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: @default-text;
            .img_wrapper {
                background: @orange-gradient;
                border-radius: 10px;
                display: none;
                align-items: center;
                img {
                    padding: 12px;
                    width: 50px;
                    height: 50px;
                }
            }

            h3 {
                margin: 0 0 0 1rem;
                font-size: 15px;
                max-width: 315px;
            }
        }
    }
}
@media screen and (min-width: 576px) {
    .drop_down_menu {
        max-width: 540px;

    }
}
  
@media screen and (min-width: 768px) {
    .drop_down_menu {
        max-width: 720px;
        .drop_down_items {
            .drop_down_item .img_wrapper{
                display: flex;
            }
        }

        > div {
            display: grid;
            grid-template-columns: 2fr 4fr;
        }

        .title_section {
            display: block;
            h3 {
                font-weight: 800;
                font-size: 50px;
                line-height: 110%;
            }
            .gl_button {
                padding: 1rem 2rem;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .drop_down_menu {
        max-width: 960px;
        .title_section {
            h3 {
                font-weight: 800;
                font-size: 50px;
                line-height: 110%;
            }
            .gl_button {
                padding: 1rem 2rem;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .drop_down_menu {
        max-width: 1140px;

        .title_section {
            h3 {
                font-weight: 800;
                font-size: 50px;
                line-height: 110%;
            }
            .gl_button {
                padding: 1rem 2rem;
                text-decoration: none;
            }
        }
    }
}
