.product_list {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto;

    .product {
        max-width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;

        img {
            width: 90%;
        }

        a {
            text-decoration: none;
            color: @solid-orange;
        }
    }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
    .product_list {
        grid-template-columns: auto auto;
        
    }
}

@media screen and (min-width: 992px) {
    .product_list {
        grid-template-columns: auto auto auto;
        
    }
}

@media screen and (min-width: 1200px) {

}
